body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #FDFDFF;
    
    margin: 0;
}

.main-header {
    width: 1170px;
    padding: 20px 55px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    width: 64px;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 559px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 40px;
}

.nav-item {
    margin-right: 30px;
}

.nav-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.nav-item a:active {
    color: rgba(22, 49, 82, 0.3);
}

.nav-item:last-child {
    margin-right: 0;
}

.authorization {
    display: block;
    width: 36px;
}

.authorization:hover {
    opacity: 0.5;
}

.authorization:active {
    opacity: 0.3;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

.hero {
    margin-bottom: 120px;
}

.nav-item a {
    font-size: 14px;
    line-height: 18px;
    color: #163152;
    text-transform: uppercase;
    text-decoration: none;
}

.hero h1 {
    font-size: 44px;
    line-height: 60px;
    font-style: italic;
    font-weight: 400;
    
    margin-top: 0;
    margin-left: 70px;
    margin-bottom: 40px;
}

.hero img {
    display: block;
}

.team-invite {
    display: flex;
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 100px;
    justify-content: space-between;
}

.team-invite-content {
    width: 400px;
}

.team-invite-img {
    display: block;
    width: 600px;
}

.birthday-water {
    display: flex;
    flex-direction: row-reverse;
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 120px;
    justify-content: space-between;
}

.birthday-water-content {
    width: 400px;
}

.team-invite-img {
    display: block;
    width: 600px;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.description-img {
    margin: 0;
    margin-bottom: 33px;
}

.description-img img {
    display: block;
    margin: 0;
    margin-bottom: 17px;
}

.contacts {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contacts-content {
    width: 400px;
}

.contacts-content h2 {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
}

.contacts-img {
    display: block;
    width: 670px;

    margin: 0;
    padding: 0;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 120px;
}

.secondary-nav {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 0 55px;
}

.secondary-main-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 870px;
}


.secondary-main-item {
    width: 165px;
    margin-right: 70px;
}

.secondary-main-item:last-child {
    margin-right: 0;
}

.secondary-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer-logo {
    width: 175px;
    margin: 0;
    padding: 0;
    margin-right: 125px;
}

.team-invite-date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 10px;
}

.team-invite-content h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 35px;
}

.team-invite-text {
    font-size: 16px;
    line-height: 24px;

}

.birthday-water-date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 10px;
}

.birthday-water-content h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 35px;
}

.birthday-water-text {
    font-size: 16px;
    line-height: 24px;

    padding: 0;
    margin: 0;
}

.news h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-align: center;

    margin-top: 0;
    margin-bottom: 55px;
}

.news-content .win-ivan {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;

    margin: 0;
    padding: 0;
}

.news-content .results {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;

    padding: 0;
    margin: 0;
    margin-bottom: 27px;
}

.news-content .сompetitions {
    font-size: 18px;
    line-height: 26px; 

    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.news-content .voyage {
    font-size: 18px;
    line-height: 26px;    

    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}

.news-content .teams {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.participants-list {
    font-size: 18px;
    line-height: 26px;

    margin: 0;
    margin-left: 19px;
    margin-bottom: 30px;
    padding: 0;
}

.participants-item {
    margin-bottom: 8px;
}

.participants-item:last-child {
    margin-bottom: 0;
}

.news-content .champions {
    font-size: 18px;
    line-height: 26px;  

    padding: 0;
    margin: 0;
    margin-bottom: 38px;
}

.crossed-out {
    text-decoration-line: line-through;
}

.news-content .quote {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;

    margin: 0;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 0;
}

.news-content .congratulation {
    font-size: 18px;
    line-height: 26px;

    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.news-content .quote-link {
    display: flex;
}

.news-content img {
    display: block;
}

.quote-link {
    width: 770px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.quote-link img {
    display: block;
    width: 60px;

    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.quote-man {
    width: 142px;
    margin: 0;
    padding: 0;
    margin-right: 570px;
}

.quote-link .share-icon img {
    display: block;
    width: 26px;
    margin: 0;
    padding: 0;
}

.share-icon:hover {
    opacity: 0.5;
}

.share-icon:active {
    opacity: 0.3;
}

.quote-man .name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #163152;

    margin: 0;
    margin-bottom: 9px;
    padding: 0;

}

.quote-man .quote-date {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;

    margin: 0;
    padding: 0;
}

.active {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;

    margin: 0;
}

.contacts-flex {
    display: flex;
}

.contacts-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-item {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.contacts-item h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

    margin: 0;
    margin-right: 10px;
    padding: 0;
}

.contacts-item .adress {
    font-size: 16px;
    line-height: 22px;
}

.contacts-item p {
    margin: 0;
    padding: 0;
}

.contacts-item p a {
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #163152;

    margin: 0;
    padding: 0;
}

.contacts-item p a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.contacts-item p a:active {
    color: rgba(22, 49, 82, 0.3);
}

.social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-item {
    margin: 0;
    margin-right: 15px;
    padding: 0;
}

.social-item a:hover {
    opacity: 0.5;
}

.social-item a:active {
    opacity: 0.3;
}

.main-social {
    margin-bottom: 15px;
}

.main-footer-logo .footer-logo img {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.main-footer-logo .privacy-policy a {
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    color: #163152;

    margin: 0;
    padding: 0;
}

.main-footer-logo .privacy-policy a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.main-footer-logo .privacy-policy a:active {
    color: rgba(22, 49, 82, 0.3);
}

.main-footer-logo .privacy-policy {
    margin: 0;
    padding: 0;
}

.main-footer-logo .copyright {
    font-size: 10px;
    line-height: 12px;

    margin: 0;
    padding: 0;
}

.secondary-main-item h2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.secondary-item a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #163152;
}

.secondary-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.secondary-item a:active {
    color: rgba(22, 49, 82, 0.3);
}

.gallery {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 120px;

}

.gallery h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 55px;
}

.gallery-content {
    display: flex;
    justify-content: space-between;
}

.gallery-img {
    display: block;
    width: 970px;
}

.gallery-list {
    width: 170px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-list .gallery-list-item {
    position: relative;
}

.gallery-list .gallery-list-item::before {
    content: "";
    position: absolute;
    background-color: rgba(253, 253, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gallery-list li.active-item::before {
    background-color: transparent;
}

.gallery-list-item {
    margin-bottom: 30px;
}

.gallery-list-item img {
    display: block;
}

.gallery-list-item:last-child {
    margin-bottom: 0;
}

/* Аренда яхт */

.rent {
    width: 1170px;

    margin: 0 auto;
    margin-bottom: 120px;
}

.rent h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;

    margin: 0;
    margin-bottom: 55px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;

    margin-bottom: 30px;
}

.cards .card {
    width: 310px;
    padding: 30px;

    background-color: #FDFDFF;
    box-shadow: 0px 4px 30px 0px rgba(22, 49, 82, 0.12);
}

.card .card-img {
    display: block;
    margin: 0;
    margin-bottom: 21px;
}

.card .card-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700; 
    
    margin: 0;
    margin-bottom: 18px;
}

.card .card-description {
    font-size: 14px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 15px;
}

.card .card-dignities {
    list-style: disc;

    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.card-dignities li {
    font-size: 14px;
    line-height: 19px;
    
    margin-bottom: 4px;
    margin-left: 18px;
}

.card .card-price {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    margin: 0;
} 